
.blog-hero {
	position: relative;
	z-index: 1;
	height: 50vh;
	padding-bottom: 60px;
	&::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
    }  
	.blog-hero__content {
		height: 100%;
		display: flex;
		align-items: flex-end;
		.blog-hero__title {
			color: #fc5815;
			font-size: 90px;
			font-style: normal;
			font-weight: 800;
			line-height: 100px;
		}
	}
	.bg-img {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		position: absolute;
		margin: 0;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
.blog-articles {
	overflow: hidden;
}
.blog-articles-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	.blog-article {
		position: relative;
		text-align: left;
		padding: 28px;
		border-right: 1px solid #000;
		margin-bottom: 20px;
		.blog-article__date {
			color: #fc5815;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 14px;
			margin-bottom: 16px;
		}
		.blog-article__title {
			display: inline-block;
			color: #000;
			font-size: 22px;
			text-decoration: none;
			font-style: normal;
			font-weight: 500;
			line-height: 28px;
			margin-bottom: 16px;
			transition: all 0.5s ease;
			&:hover {
				text-shadow: -0.25px -0.25px 0 #000, 0.25px 0.25px #000;
			}
		}
		.blog-article__description {
			color: #000;
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 20px;
		}
		.blog-article__image {
			margin: 0;
			margin-bottom: 16px;
			img {
				width: 100%;
				max-height: 200px;
				object-fit: cover;
			}
		}
		.blog-article__read {
			color: #000;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 5px;
			text-decoration: none;
			transition: all 0.5s ease;
			&:hover {
				color: #fc5815;
			}
		}
		&:nth-child(3) {
			border-right: none;
		}
		&:nth-child(6) {
			border-right: none;
		}
		&:nth-child(9) {
			border-right: none;
		}
		&:nth-child(12) {
			border-right: none;
		}
		&:nth-child(15) {
			border-right: none;
		}
		&::before {
			content: "";
			position: absolute;
			width: 1000%;
			top: 0;
			height: 1px;
			left: 50%;
			transform: translate(-50%);
			background-color: #fc5815;
		}
	}
}
.blog-load {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 180px;
	height: 52px;
	border: 1px solid #fc5815;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 8px;
	line-height: 52px;
	transition: all 0.5s ease;
	margin-top: 60px;
	&:hover {
		background-color: #fc5815;
		color: #fff;
	}
}
.blog-top {
	padding-top: 32px;
	padding-bottom: 32px;
	figure {
		display: flex;
		justify-content: flex-end;
		margin: 0;
		img {
			cursor: pointer;
		}
	}
}
.blog-search {
	padding-top: 62px;
	padding-bottom: 62px;
	.blog-search__wrapper {
		position: relative;
		input {
			position: relative;
			font-size: 18px;
			text-transform: uppercase;
			line-height: 24px;
			background: 0;
			border: 0;
			width: 100%;
			padding: 0 0 7px 30px;
			border-bottom: 1px solid #c4c4c4;
			box-sizing: border-box;
			outline: 0;
			border-radius: 0;
		}
		&::before {
			content: "";
			position: absolute;
			background-image: url(../img/search_icon.svg);
			width: 24px;
			height: 24px;
			background-size: contain;
		}
	}
}