.cottage-hero {
	height: 100vh;
	position: relative;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	.cottage-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.bg-img {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		position: absolute;
		margin: 0;
		img {
			-o-object-fit: cover;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	.cottage-hero__content {
		max-width: 900px;
		width: 100%;
		h1 {
			font-size: 90px;
			line-height: 90px;
			font-weight: 700;
			color: #fff;
			margin-bottom: 30px;
		}
		p {
			max-width: 555px;
			font-size: 22px;
			color: #fff;
			line-height: 1.4;
		}
		a {
			display: block;
			margin-top: 50px;
			border-radius: 10px;
			width: 300px;
			height: 60px;
			line-height: 60px;
			background-color: #fc5815;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			transition: all 0.5s ease;
			&:hover {
				background-color: transparent;
				border: 1px solid #fc5815;
				color: #fc5815;
			}
		}
	}
}
.cottage-finished {
	padding-top: 80px;
	padding-bottom: 120px;
	background-color: #000;
	.cottage-finished__content {
		h2 {
			color: #fff;
			text-transform: uppercase;
			font-size: 60px;
			margin-bottom: 60px;
		}
		.cottage-finished__content-items {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			li {
				h3 {
					color: #fff;
					font-size: 120px;
					font-weight: 200;
				}
				p {
					color: #fff;
					font-size: 22px;
					font-weight: 200;
				}
			}
		}
	}
}
.cottage-project {
	overflow: hidden;
	background-color: #000;
	.cottage-project__content {
		display: flex;
		justify-content: space-between;
		&.first-item{
			flex-direction: row-reverse;
		}
		&.third-item{
			flex-direction: row-reverse;
		}
		.cottage-project__content-images {
			margin: 0;
			width: 50%;
			img {
				max-width: 555px;
				width: 100%;
				height: auto;
				border-radius: 10px;
			}
		}
		.cottage-project__content-description {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 50%;
			h4 {
				font-size: 30px;
				color: #fff;
				margin-bottom: 20px;
				font-weight: 700;
				line-height: 1.4;
				max-width: 450px;
				width: 100%;
			}
			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
				li {
					color: #fff;
					font-size: 18px;
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			h5 {
				color: #fc5815;
				font-size: 20px;
				margin-top: 15px;
				margin-bottom: 15px;
				font-weight: 700;
				text-transform: uppercase;
			}
			a {
				display: block;
				border-radius: 10px;
				font-size: 18px;
				border: 1px solid #fc5815;
				width: 300px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				color: #fff;
				text-decoration: none;
				margin-top: 20px;
				transition: all 0.5s ease;
				&:hover {
					background-color: #fc5815;
					color: #000;
				}
			}
		}
	}
}
.cottage-form {
	padding-top: 80px;
	padding-bottom: 80px;
	min-height: 550px;
	position: relative;
	overflow: hidden;
	background-color: #000;
	h2 {
		text-align: center;
		color: #fff;
		font-size: 40px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	.form {
		position: absolute;
		bottom: -80%;
		left: 50%;
		transform: translate(-50%);
		max-width: 920px;
		width: 100%;
		padding: 40px;
		background-color: rgba(250, 250, 250, 0.1);
		border-radius: 10px;
		margin: 0 auto;
		transition: all 0.5s ease;
		.wpcf7-response-output{
			opacity: 0!important;
			display: none!important;
		}
		.wpcf7-spinner{
			opacity: 0!important;
			display: none!important;
		}
		form {
			display: flex;
			justify-content: center;
			.input-column {
				display: flex;
				flex-direction: column;
				margin-right: 30px;
				&.right-form{
					margin-right: 0;
				}
				input {
					width: 380px;
					height: 50px;
					background-color: transparent;
					margin-bottom: 25px;
					color: #fff;
					letter-spacing: 2px;
					font-size: 18px;
					font-weight: 200;
					border: 0;
					border-bottom: 1px solid #fff;
					&::placeholder {
						color: #fff;
						font-weight: 200;
						font-size: 18px;
					}
					&:focus {
						outline: 0;
					}
				}
				.project-file{
					input{
						border-bottom: unset;
					}
				}
				textarea{
					background: transparent;
					border-bottom: 1px solid #fff;
					font-size: 18px;
					letter-spacing: 2px;
					font-family: Roboto, sans-serif;
					padding: 11px;
					height: 200px;
					width: 100%;
					resize: none;
					color: #fff;
					font-weight: 200;
					&::placeholder{
						color: #fff;
						font-family: Roboto, sans-serif;
						font-weight: 200;
						font-size: 18px;
					}
					&:focus {
						outline: 0;
					}
				}
				.btn-sender {
					margin-top: 30px;
					input {
						width: 100%;
						height: 50px;
						background-color: #fc5815;
						color: #fff;
						text-transform: uppercase;
						border: 0;
						border-radius: 10px;
						transition: all 0.5s ease;
						margin-bottom: 0;
						letter-spacing: 5px;
						cursor: pointer;
						&:hover {
							background-color: transparent;
							border: 1px solid #fc5815;
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.form.active {
		bottom: 0;
	}
}
.cottage-form.cottage-contact {
	height: 100vh;
	position: relative;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	.bg-img {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 999;
		position: absolute;
		img {
			-o-object-fit: cover;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	.form {
		bottom: 50%;
		left: 50%;
		z-index: 9999;
		transform: translate(-50%, 50%);
		background-color: rgba(0, 0, 0, 0.7);
		form {
			justify-content: space-between;
		}
		h1 {
			color: #fff;
			font-size: 40px;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 60px;
		}
	}
}
.cottage-contacts {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #000;
	border-bottom: 1px solid #fff;
	.cottage-contacts-list {
		display: flex;
		justify-content: space-around;
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			text-align: center;
			a {
				position: relative;
				color: #fff;
				font-size: 20px;
				text-decoration: none;
				transition: all 0.5s ease;
				padding-bottom: 10px;
				&::before {
					content: "";
					position: absolute;
					width: 300px;
					height: 1px;
					background-color: #fff;
					bottom: -5px;
					left: 50%;
					transform: translate(-50%);
				}
				&:hover {
					color: #fc5815;
				}
			}
			h3 {
				color: #fff;
				font-size: 20px;
				margin-top: 30px;
			}
		}
	}
}